<div class="flex flex-col gap-2">
    <h2 class="font-bold">Proyectos</h2>
    @for (proyects of proyects.slice().reverse(); track proyects.id; let last = $last) {
        <div class="flex flow-row">
            <div class="w-1/2 mb-10" [class.mb-10]="!last">
                <p>{{proyects.year}}</p>
            </div>

            <div class="w-full">
                <a href="{{proyects.link}}"><strong>{{proyects.name}}</strong></a>
                <p>{{proyects.type}}</p>
            </div>
        </div>
    }
</div>