<div class="flex flex-col gap-2">
    <h2 class="font-bold">Proyectos</h2>
    @for (projects of projects.slice().reverse(); track projects.id; let last = $last) {
        <div class="flex flow-row">
            <div class="w-1/2 mb-10" [class.mb-10]="!last">
                <p>{{projects.year}}</p>
            </div>

            <div class="w-full cursor-pointer hover:underline" [routerLink]="['/project', projects.name.toLowerCase()]">
                <div class="flex flex-row gap-1">
                    <strong>{{projects.name}}</strong>
                    <ng-icon name="phosphorArrowUpRight"/>
                </div>
                <p>{{projects.type}}</p>
            </div>
        </div>
    }
</div>