@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
       url('./assets/fonts/satoshi/Satoshi-Variable.woff') format('woff');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

/* Opcional: Si necesitas cursivas */
@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
       url('./assets/fonts/satoshi/Satoshi-VariableItalic.woff') format('woff');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --background: #f1f5f9;
  --foreground: #18181b;
  --selection-bg: #18181b;
  --selection-text: #f1f5f9;
}

.dark {
  --background: #18181b;
  --foreground: #f1f5f9;
  --selection-bg: #f1f5f9;
  --selection-text: #18181b;
}

body {
  font-family: 'Satoshi', sans-serif;
  color: var(--foreground);
  background-color: var(--background);
  transition: color 0.3s ease, background-color 0.3s ease;
}

::selection {
  background-color: var(--selection-bg);
  color: var(--selection-text);
  text-shadow: none;
}

::-moz-selection {
  background-color: var(--selection-bg);
  color: var(--selection-text);
  text-shadow: none;
}

markdown h1 {
  @apply text-3xl font-bold mb-4;
}

markdown p {
  @apply mb-2 text-justify;
}

markdown strong {
  @apply font-bold;
}

markdown ul {
  @apply list-disc list-inside mb-2;
}

markdown li {
  @apply mb-1;
}

markdown a {
  @apply underline transition-all duration-300 hover:font-bold;
}

blockquote {
  @apply italic
}