@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
       url('./assets/fonts/satoshi/Satoshi-Variable.woff') format('woff');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

/* Opcional: Si necesitas cursivas */
@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
       url('./assets/fonts/satoshi/Satoshi-VariableItalic.woff') format('woff');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --black: #18181b;
  --white: #f1f5f9;
}

body {
    font-family: 'Satoshi';
    color: var(--black);
    background-color: var(--white);
}

::selection {
  background-color: var(--black);
  color: var(--white);
  text-shadow: none;
}

::-moz-selection {
  background-color: var(--black);
  color: var(--white);
  text-shadow: none;
}